<header id="menu" ng-init="">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings" ng-href='/'>
				<img alt="Logo" class="avatar" ng-src="static/img/plugcat_white_40x40.png"/>
			</md-button>
			<h2>
				<span>
					<a href='/'>Plugcat</a>
				</span>
			</h2>
			<span flex></span>
			<md-menu md-position-mode="target-right target" ng-controller="translateCtrl">
				<md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu()">
					<i class="fa fa-language"></i>
				</md-button>
				<md-menu-content width="3">
					<md-menu-item>
						<md-button ng-disabled="en" ng-click="changeLanguage('en');$mdCloseMenu()">
						English
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-disabled="fr" ng-click="changeLanguage('fr')">
						Français
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>

			<!-- User logged out -->
			<md-button class="login" href="/auth/google" target="_self" ng-show="!user">
				<i class="fa fa-arrow-circle-right "></i> {{'MENU_LOGIN' | translate}} 
			</md-button>

			<!-- User logged in -->
			<md-menu md-position-mode="target-right target" ng-show="user">
				<md-button class="md-icon-button" aria-label="Connected user" ng-click="$mdOpenMenu()">
					<img alt="Avatar" class="avatar" ng-src="{{user.avatar.url}}"/>
				</md-button>
				<md-menu-content width="3">
					<md-menu-item>
						<md-button href="/settings">
							{{'MENU_SETTINGS' | translate}} 
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button href="/logout" target="_self" class="logout">
							{{'MENU_LOGOUT' | translate}} 
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>

		</div>
	</md-toolbar>
</header>