<!doctype html>
<html data-ng-app="plugcat">
	<head>
		<meta charset="utf-8">
		<title>Plugcat</title>

		<!-- inject:css -->
	    <link rel="stylesheet" href="/static/libs/angular-hotkeys/build/hotkeys.css">
	    <link rel="stylesheet" href="/static/libs/angular-material/angular-material.css">
	    <!-- endinject -->
	    <link rel="stylesheet" href="/static/css/all.css">
    	<base href="/"/>
	</head>
	<body controller='mainCtrl'>
		<div data-ng-view></div>
	    <!-- inject:js -->
	    <script src="/static/libs/angular/angular.js"></script>
	    <script src="/static/libs/angular-route/angular-route.js"></script>
	    <script src="/static/libs/angular-animate/angular-animate.js"></script>
	    <script src="/static/libs/angular-aria/angular-aria.js"></script>
	    <script src="/static/libs/angular-hotkeys/build/hotkeys.js"></script>
	    <script src="/static/libs/lodash/lodash.js"></script>
	    <script src="/static/libs/angular-material/angular-material.js"></script>
	    <!-- endinject -->
	    <script type="text/javascript" src="/static/js/all.js"></script>
    	<script type="text/javascript" src="/static/partials/partials.js"></script>
    	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	</body>
</html>