<div presence="MOUSE TOUCH" id="room" class="view" ng-init='loadRoom()' ng-keypress='keyPressed()'>
	<div flex layout="row" class="header">
		<div flex class="name">
			<h2>{{room.name}}</h2>
		</div>
		<div flex class="infos">
			<span>{{users.length}} {{'ROOM_CONNECTED_USER' | translate}}</span>
		</div>
	</div>
	<div flex layout="column" class="chat" keep-scroll-bot="room.messages">
		<!-- One message block define here -->
		<div class='message' ng-repeat='message in room.messages'>
			<div flex ng-class='message.iAmOwner ? "me" : "other"'>
				<div ng-show="message.type !== 'info'">
					<div class="identity" ng-class="message.owner.anonym ? 'anonym' : ''">
						<md-button class="md-icon-button" aria-label="Owner">
							<img alt="Logo" class="avatar" ng-src="{{message.owner.avatar}}"/>
							<md-tooltip>
						        {{message.owner.publicName}}
						    </md-tooltip>
						</md-button>
					</div>
					<div class="messageContent">
						<div class="background">
							<div class='content' style="background:{{message.owner.background}};color:{{message.owner.foreground}}">{{message.content}}</div>
						</div>
						<div class='date'>
							<span class='hour'>{{message.date.hour}}</span>
							<span class='day'>{{message.date.day}}</span>
						</div>
					</div>
				</div>
				<div ng-show="message.type === 'info'">
					<div class="info">
						<span ng-show="message.event === 'leave'">
							<i class="fa fa-arrow-circle-o-left"></i> {{'ROOM_USER_LEAVE' | translate}}{{message.publicName}}
						</span>
						<span ng-show="message.event === 'join'">
							<i class="fa fa-arrow-circle-o-right"></i> {{'ROOM_USER_JOIN' | translate}}{{message.publicName}}
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div flex layout="row" layout-margin layout-sm="column" layout-align="center center" layout-align-sm="center start" class="footer">
		<md-input-container flex="80">
			<label>{{'ROOM_SEND_MESSAGE_PLACEHOLDER' | translate}}</label>
			<input presence="KEYBOARD" class='messageInput' ng-model="newMessageContent" autofocus="autofocus">
		</md-input-container>
	    <md-button class="md-raised md-primary" ng-click="sendMessage()" ng-disabled='newMessageContent.length === 0' flex="10">{{'ROOM_SEND_MESSAGE' | translate}}</md-button>
	    <md-button flex="10" class="md-icon-button" aria-label="Video" ng-click="startConf()" ng-show="videoAuthorized">
			<i class="fa fa-video-camera"></i>
		</md-button>
	</div>
	<div class="plugBox">
		<video class="localVideo videoWindow" ng-src="{{getLocalVideo()}}" autoplay muted></video>
		<video-player class="othersVideo videoWindow" ng-repeat="p in peers" vid-src="{{p.stream}}"></video-player>
	</div>
</div>