#room{
	.chat{
		.messageBox{
			height: 15vh;
		}
		.messages{
			height: 65vh;
			overflow-y: scroll;
			.message{
				.content{
					max-width:60%;
					word-wrap: break-word;
					padding:5px 10px;
					border-radius: 3px;
					margin: 4px;
					&.me{
						float:right;
					}
					&.other{
						float:left;
					}
					clear:both;
				}
				.date{
					padding-left: 5px;
					position: relative;
					top: -8px;
					color: #ADABAB;
					.hour{
						font-size: 11px;
		    			font-weight: bold;
					}
					.day{
						font-size: 9px;
					}
				}
			}
		}
	}
}