#room{
	.chat{
		.message{
			max-width:60%;
			word-wrap: break-word;
			padding:5px 10px;
			border-radius: 3px;
			margin: 4px;
			&.me{
				background : #CBEACB;
				float:left;
			}
			&.other{
				background : #CBE0EA;
				float:right;
			}
			clear:both;
		}
	}
}