#loading-bar .bar {
	background: #FFFFFF;
	height: 4px;
}
#loading-bar-spinner .spinner-icon {
	width: 6px;
	height: 6px;
	border: solid 3px transparent;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
}