#home{
	
	h1{
		margin: 0;
		margin-top:50px;
	}
	h2{
		font-size: 30px;
	    font-weight: 100;
	    margin: 10px;
	}
	.roomSelection{
		md-input-container{
			
		}
	}
	.plusContainer{
		text-align:center;
		.plus{
			i{
				font-size: 100px;
    			color: rgba(128, 128, 128, 0.20);
			}
			p{
				
			}
		}
	}
}