<!doctype html>
<html data-ng-app="plugcat">
	<head>
		<meta charset="utf-8">
		<title ng-bind="title">Plugcat</title>
		<link rel="icon" type="image/png" href="static/img/plugcat.png" />

		<!-- inject:css -->
	    <!-- endinject -->
	    <link rel="stylesheet" href="/static/css/all@MINIFY@css">
    	<base href="/"/>
	</head>
	<body controller='mainCtrl'>
		<menu></menu>
		<div data-ng-view></div>

		<!-- Connected user -->
		<script>
			 window.user = <%- user %>;
		</script>

	    <!-- inject:js -->
	    <!-- endinject -->
	    <script type="text/javascript" src="/static/js/all@MINIFY@js"></script>
    	<script type="text/javascript" src="/static/partials/partials@MINIFY@js"></script>
    	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	</body>
</html>